#root {
  font-size: 12pt;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h2.mssg{
  height: 30px;
}
h3{
  color: lightskyblue;
  font-size: 1.5rem;
}
.dice {
  font-size: 2rem;
}
